body{
    background-color: rgb(119, 175, 224);
    font-family: sans-serif;
    text-align: left;
   
}
.container{
    display: flex;
    margin: 10px;
    background-color: rgb(216, 216, 194);
    font-weight: 700;
    font-size: 100px;
    
}
.Top{
    position: relative;
    left: 1000px;
    bottom: 70px;
    word-spacing: 70px;
    padding: 12px;
    text-decoration: solid;
    font-size: 700;
}
.Top a:hover{
    background-color: antiquewhite;
    color: crimson;
    
}
a {
    text-decoration: none;
}
